.body-card {
    width: 250px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin-bottom: 15px;
    margin-right: 50px;
    text-align: center;
}
h2{
    font-weight: normal;
}

.location {
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
/* Point au début de la ligne verte  */
.location::before {
    content: "";
    position: absolute;
    bottom: -5px; /* aligne verticalement avec la ligne */
    left: calc(50% + 30%); /* 50% + moitié de 60% de width */
    width: 10px;
    height: 10px;
    background: #e31766; /* rose */
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
/* Bordure  */
.location::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60%;
    height: 2px;
    background: #72c91f;
    transform: translateX(-50%);
}

.pseudo-user {
    margin: 3px;
}

.profil-image {
    max-widthwidth: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    /*border: 1px solid #e31766;*/

}

.body-card > .card-container{
    max-width: max-content;
    text-align: left;
}
h5{
    margin: 0;
}

/* Affiche l'élément */
.visible {
    display: block; /* ou flex ou selon le type de layout */
}

/* Cache l'élément */
.hidden {
    display: none;
}