
.custom-select {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.custom-select  label {
    font-weight: 400;
    margin-bottom: 0.75rem;
}

select{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select:focus {
    outline: none;
    border-color: rgb(31, 159, 47);
    box-shadow: 0 0 3px rgb(229, 245, 231);
}