.custom-textarea {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.custom-textarea label {
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.custom-textarea .textarea-field {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

.custom-textarea .textarea-field:focus {
    outline: none;
    border-color: rgb(31, 159, 47);
    box-shadow: 0 0 3px rgb(229, 245, 231);
}
