main{
    display: flex;  
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    align-items: center;
  }
  
.text{
      margin-top: 40px;
      text-align: center;
      word-break: break-word;
}
aside{
    text-align: center;
}
/* Styles pour les écrans de taille moyenne (tablettes) */
@media (min-width: 768px) {
    aside{
        width: 40%;
    }

}
