.detail-card-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.header-card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-card-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header-card-detail img {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-card-detail p {
    font-size: 16px;
    margin: 5px 0;
}

.secteur-reseau{
    text-align: left;
}
.article-descriptif {
    margin-top: 20px;
}

.article-descriptif p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.card-detail-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-descriptif {
    position: relative;
    padding-left: 25px; /* espace pour la ligne verticale */
    margin: 20px 0;
}

/* Ligne verticale à gauche + point */
.article-descriptif::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #72c91f; /* ligne verticale verte */
}

.article-descriptif::after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background: rgba(0, 0, 0, 0.4); /* ligne horizontale */
    margin: 20px auto; /* centrée et espacée */
}

/* Petit point en haut de la ligne verticale */
.article-descriptif .point-top {
    position: absolute;
    left: 3px;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #e31766; /* rose */
    border-radius: 50%;
    z-index: 1;

}

/* ROTATION DES ICONS POINGS */
.left-hand {
    font-size: 25px;
    color: #333;
    transform: rotate(45deg);
    padding-right: 5px;
}

.right-hand {
    font-size: 25px;
    color: #333;
    transform: rotate(-45deg);
}

.icon-container {
    display: flex;
    justify-content: center;
    width: 80px;

}
.icon-message{
    font-size: 25px;
    color: #e31766;
    margin-right: 30px;
}
