.rowWithIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.iconAdd{
    display: flex;
    align-items: center;
    height: 33px;
    margin-top: 36px;
}
.iconDelete{
margin-left: 10px;
}