.rowWithIcon{
    display: flex;
    flex-direction: row;

}
.iconAdd{
    display: flex;
    align-items: center;
    height: 33px;
    margin-top: 36px;
}
.iconDelete{
margin-left: 10px;
}

.input-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.input-image img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
    display: flex;
}
.image-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}