/* Css mobile first */
/* Conteneur principal */
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

/* Style pour chaque bloc */
.block {
    width: 100%;
    min-height: auto;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;

}
.component {
    margin-bottom: 16px;
}

/* Styles pour les écrans plus larges (desktop) */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;

    }
    .block{
        width: auto;
    }
}

